{% extends "homepage/base.html" %}
{% load static %}
{% block body %}
    <div class="container text-center">
        <!-- Sorting Buttons -->
        <br>
        <div class="filter-buttons mb-3 d-flex justify-content-between align-items-stretch gap-3 w-100 px-5">
            <select id="categoryFliter" class="form-select" onchange="filterByCategory()">
                <option value="all">Category</option>
                <option value="Language">Language</option>
                <option value="Music">Music</option>
                <option value="Art">Art</option>
                <option value="Sports">Sports</option>
                <option value="Cooking">Cooking</option>
            </select>
            <select id="personalityFilter" class="form-select" onchange="filterByPersonality()">
                <option value="all">Personality</option>
                <option value="Creative">Creative</option>
                <option value="Organized">Organized</option>
                <option value="Calm">Calm</option>
                <option value="Patient">Patient</option>
                <option value="Thoughtful">Thoughtful</option>
                <option value="Extrovert">Extrovert</option>
                <option value="Cheerful">Cheerful</option>
                <option value="Serious">Serious</option>
                <option value="Funny">Funny</option>
                <option value="Knowledgeable">Knowledgeable</option>
                <option value="Goal-Oriented">Goal-Oriented</option>
                <option value="Good Communicator">Good Communicator</option>
                <option value="Supportive">Supportive</option>
                <option value="Inspiring">Inspiring</option>
                <option value="Friendly">Friendly</option>
            </select>
            <select id="classFilter" class="form-select" onchange="filterByClass()">
                <option value="all">Class Type</option>
                <option value="Physical">Physical</option>
                <option value="Online">Online</option>
            </select>
        </div>

    <div class="card-grid">
        {% for mentor in mentors %}
        <div class="mentor-card">
        <img src="{{ mentor.avatar.url }}" alt="{{ mentor.name }}" class="mentor-avatar">
            <div class="mentor-info">
                <div class="mentor-header">
                    <span class="mentor-name">{{ mentor.name }}</span>
                    <span class="mentor-rating">⭐ {{ mentor.rating }}</span>
                </div>
                <p class="mentor-title">{{ mentor.title }}</p>
                <p class="mentor-location">📍 {{ mentor.location }} | {{ mentor.mode }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- <script src="{% static 'category/filter.js'%}"></script> -->
{% endblock %}